.navbar-collapse.collapse {
  background-color: #0808ff;
}
#tagline_section {
  background-color: #0808ff;
}
.accordColor {
  background-color: #0808ff !important;
}
footer {
  background-color: #0808ff !important;
}
