@themecolor: blue;

.navbar-collapse.collapse{ 
    background-color: @themecolor;
} 

#tagline_section{
  background-color: @themecolor;
}
.accordColor{
    background-color: @themecolor !important;
}
footer{
    background-color: @themecolor !important;
}
