.navbar-collapse.collapse {
  background-color: blue;
}
#tagline_section {
  background-color: blue;
}
.accordColor {
  background-color: blue !important;
}
footer {
  background-color: blue !important;
}
